* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    min-height: 100vh;
}

.item {
    width: 200px;
    height: 200px;
    border: solid 2px black;
    background-color: white;
    font-weight: bold;
}